
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    // background-color: hsl(223, 19%, 93%);
    background-color: hsl(0, 0%, 16%);
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    
    .comments-section{
        margin-top: 50px;
    }
}

.interactive-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(228, 33%, 97%);
    color: hsl(238, 40%, 52%);
    padding: 10px;
    border-radius: 10px;
    height: 80px;
    width: 40px;

    .icon-plus, .icon-minus{
        fill: hsl(238, 40%, 52%);
        cursor: pointer;
    }
    .interactive-btn-number{
        margin: 10px 0px;
        font-weight: 500;
    }
}

.profile-pic{
    width: 40px;
    height: 40px;
}

.comment-box{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 700px;
    padding: 30px;
    margin-bottom: 20px;

    //////////////// button

    .comment-text-section{
        margin-left: 20px;

        .comment-text-section-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 220px;

            .profile-name{
                color: hsl(212, 24%, 26%);
            }
            .time-posted{
                color: hsl(211, 10%, 45%);
                font-size: 0.9em;
            }
        }

        .comment-text{
            margin-top: 10px;
            width: 90%;
        }
    }

    .reply-btn{
        position: absolute;
        top: 25px;
        right: 25px;
        color: hsl(238, 40%, 52%);
        font-weight: 500;

        .icon-reply{
            margin-right: 5px;
        }
    }
    .reply-btn:hover{
        cursor: pointer;
        opacity: 0.8;
    }

}


/* -------------------- Replies Section -------------------- */
.replies-section{
    border-left: 2ps solid black;
    padding-left: 100px;

    .reply-box{
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 10px;
        background-color: white;
        width: 600px;
        padding: 30px;
        margin-bottom: 20px;
    }


    .comment-text-section{
        margin-left: 20px;

        .comment-text-section-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 220px;

            .profile-name{
                color: hsl(212, 24%, 26%);
            }
            .time-posted{
                color: hsl(211, 10%, 45%);
                font-size: 0.9em;
            }
        }

        .comment-text{
            margin-top: 10px;
            width: 90%;
        }
    }

    .reply-btn{
        position: absolute;
        top: 25px;
        right: 25px;
        color: hsl(238, 40%, 52%);
        font-weight: 500;

        .icon-reply{
            margin-right: 5px;
        }
    }
    .reply-btn:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}
/* --------------- Box when replying --------------- */
.replying-box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;

    .area-text{
        width: 70%;
        border-radius: 10px;
        border: 2px solid rgb(207, 207, 207);
        font-size: 1.2em;
        font-weight: 500;
        resize: none;
        box-sizing: border-box;
        padding: 10px;
    }
    .area-text:focus{
        outline: none;
        border: 2px solid hsl(238, 40%, 52%);
    }

    .replying-btn{
        background-color: hsl(238, 40%, 52%);
        color: white;
        width: 75px;
        height: 20px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .replying-btn:hover{
        cursor: pointer;
        background-color: hsl(239, 57%, 85%);
    }
}

.identification{
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}