@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.icon-next-box, .icon-previous-box, .profile-cart span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-next-box, .icon-previous-box, .btn-close {
  transition: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

/* ------------------------------ MOBILE STYLE ------------------------------ */
/* ------------------------------ HEADER --------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

/* --------------- NAV LINK --------------- */
nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.btn-close {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
}

.links-list {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  padding: 80px 0px 0px 30px;
  background-color: white;
  z-index: 2;
}

.links-list li {
  margin-top: 25px;
  font-weight: 700;
  list-style: none;
}

.logo {
  margin-left: 15px;
}

/* --------------- PROFILE & CART SECTION --------------- */
.profile-cart-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  position: relative;
}

.profile-cart {
  width: 25%;
  position: relative;
}

.profile-cart span {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.7em;
  width: 15px;
  border-radius: 5px;
  background-color: hsl(26, 100%, 55%);
  color: white;
}

.profile-avatar {
  width: 30px;
}

/* --------------- CART MODAL --------------- */
.modal-cart {
  position: absolute;
  right: -5px;
  bottom: -350px;
  height: 300px;
  width: 92vw;
  border-radius: 5px;
  background-color: white;
  overflow: scroll;
  z-index: 4;
}

.modal-cart-header {
  border-bottom: 1px solid hsl(219, 9%, 45%);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.modal-cart-header span {
  margin-left: 20px;
  font-weight: 700;
}

.modal-cart-items-list {
  width: 90%;
  padding: 20px;
}

.modal-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-img {
  width: 50px;
  border-radius: 5px;
}

.cart-item-information {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  color: hsl(219, 9%, 45%);
}

.cart-item-information-price {
  margin-top: 10px;
}

.total-price-cart {
  color: black;
  font-weight: 700;
  margin-left: 10px;
}

.modal-cart-items-list button {
  margin-top: 25px;
}

/* ------------------------------ CONTENT SECTION --------------- */
/* --------------- IMAGE SECTION --------------- */
.main-image-section {
  position: relative;
}

.main-image {
  width: 100%;
}

.icon-previous-box {
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon-next-box {
  position: absolute;
  top: 50%;
  right: 30px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.images-list {
  display: none;
}

/* --------------- INFORMATION SECTION --------------- */
.information-section {
  padding: 30px;
}

.brand-name {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
}

.item-name {
  margin-top: 20px;
}

.description {
  color: hsl(219, 9%, 45%);
  margin-top: 20px;
  line-height: 1.7em;
}

/* --------------- PRICE SECTION --------------- */
.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
}

.current-price-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-price {
  font-size: 2em;
}

.promotion {
  margin-left: 15px;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

.old-price {
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}

/* --------------- BUTTONS SECTION --------------- */
.buttons-section {
  margin-top: 20px;
}

.amount-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: hsl(223, 64%, 98%);
}

.icon-minus {
  margin-left: 20px;
}

.amount-items span {
  font-weight: 700;
  font-size: 1.5em;
}

.icon-plus {
  margin-right: 20px;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(26, 100%, 55%);
}

button img {
  margin-right: 20px;
  width: 20px;
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(190deg) brightness(0%) contrast(107%);
}

/* --------------- HOVER --------------- */
.logo:hover, .hamburger:hover, .profile-cart:hover,
.profile-avatar:hover, .btn-close:hover, .links-list li:hover,
.icon-next-box:hover, .icon-previous-box:hover, .icon-minus:hover,
.icon-plus:hover, button:hover, .icon-delete-cart:hover {
  cursor: pointer;
}

.btn-close:hover {
  transform: scale(1.2);
}

.icon-next-box:hover .icon-next, .icon-previous-box:hover .icon-previous {
  filter: invert(57%) sepia(16%) saturate(4180%) hue-rotate(346deg) brightness(101%) contrast(102%);
}

.links-list li:hover {
  text-decoration: underline;
}

.profile-avatar:hover {
  filter: drop-shadow(0 2px 5px hsl(26, 100%, 55%));
}

button:hover {
  background-color: hsl(25, 100%, 68%);
}

/* --------------- */
.hidden {
  display: none;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ DESKTOP STYLE ------------------------------ */
@media only screen and (min-width: 768px) {
  /* --------------- NAV LINK --------------- */
  .container {
    width: 90%;
    max-width: 1150px;
    margin: auto;
  }
  header {
    padding: 0;
    display: flex;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid hsl(219, 9%, 45%);
  }
  .logo {
    margin-left: 0px;
    width: 140%;
  }
  .hamburger {
    display: none;
  }
  nav {
    position: static;
    height: 100%;
    margin-left: 30px;
    background-color: transparent;
    z-index: 1;
  }
  .btn-close {
    display: none;
  }
  .links-list {
    position: static;
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
    padding: 0px;
    margin-left: 80px;
    background-color: transparent;
    z-index: 2;
  }
  .links-list li {
    font-weight: 400;
    list-style: none;
    margin-top: 57px;
    padding-bottom: 57px;
    color: hsl(219, 9%, 45%);
    position: relative;
  }
  .links-list li:hover {
    text-decoration: none;
  }
  .links-list li::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: hsl(26, 100%, 55%);
    transition: all 0.2s;
  }
  .links-list li:hover::after {
    height: 5px;
  }
  /* --------------- PROFILE & CART SECTION --------------- */
  .profile-cart-section {
    width: 150px;
  }
  .profile-cart img {
    width: 25px;
  }
  .profile-avatar {
    width: 50px;
  }
  /* ------------------------------ CONTENT SECTION --------------- */
  .content {
    display: flex;
    margin: 90px auto 0 auto;
    width: 100%;
    max-width: 1100px;
  }
  /* --------------- IMAGE SECTION --------------- */
  .main-image-section {
    position: relative;
  }
  .main-image {
    width: 95%;
    border-radius: 20px;
  }
  .icon-previous-box, .icon-next-box {
    display: none;
  }
  .images-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .images-list li {
    list-style: none;
  }
  .images-list li img {
    border-radius: 10px;
    width: 80%;
  }
  .focus-image {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.5;
  }
  .images-list li img:hover {
    cursor: pointer;
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.5;
  }
  /* --------------- INFORMATION SECTION --------------- */
  .information-section {
    width: 90%;
    margin: 50px 0 0 100px;
  }
  .brand-name {
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  .item-name {
    margin-top: 15px;
    font-size: 3em;
  }
  .description {
    font-size: 1.1em;
    margin-top: 30px;
  }
  /* --------------- PRICE SECTION --------------- */
  .price-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .old-price {
    margin-top: 15px;
  }
  /* --------------- BUTTONS SECTION --------------- */
  .buttons-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  .amount-items {
    width: 35%;
    height: 50px;
    border-radius: 5px;
    height: 60px;
    border-radius: 10px;
  }
  .icon-minus {
    margin-left: 20px;
  }
  .amount-items span {
    font-size: 1.1em;
  }
  .icon-plus {
    margin-right: 20px;
  }
  button {
    width: 60%;
    height: 60px;
    margin-top: 0px;
    border-radius: 10px;
  }
  button img {
    width: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
