//## Colors 
//### Primary
$marine-blue: hsl(213, 96%, 18%);
$marine-lght-blue: hsl(213, 90%, 24%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

//### Neutral
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

//## Typography
//### Body Copy
$font-size-small: 14px;
$font-size: 16px;
$font-size-title: 2.2em;
$font-size-description: 1.1em;

$light-font: lighter;
$medium-font: 500;
$bold-font: 700;

// Colors variables
$bg-color: $magnolia;
$bg-container-color: $white;
$bg-element: $alabaster;

$title-color: $marine-blue;
$description-color: $cool-gray;
$primary-color-text: $marine-blue;

$sidebar-text-color: $white;
$step-number-color: $light-blue;

$input-focus: $purplish-blue;
$input-error: $strawberry-red;

$border-gray: $cool-gray;
$border-hover: $purplish-blue;

$button-color-disabled: $pastel-blue;
$button-color: $marine-blue;
$button-color-hover: $marine-lght-blue;
$button-color-active: $purplish-blue;