@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* color variable */
:root{
    --main-color: hsl(235, 19%, 35%);
    --second-color: hsl(236, 9%, 61%);
    --border-color: hsl(234, 39%, 85%);
    --bg-color: #fafafa;
    --bg-items: white;
    --bg-image: url('images/bg-desktop-light.jpg');
}
.dark{
    --main-color: hsl(234, 39%, 85%);
    --second-color: hsl(237, 19%, 38%);
    --border-color: hsl(234, 11%, 52%);
    --bg-color: hsl(235, 21%, 11%);
    --bg-items: hsl(235, 24%, 19%);
    --bg-image: url('images/bg-desktop-dark.jpg');
}

*{
    margin: 0;
    padding: 0;
}
/* Style button home page */
.back-home{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.back-home:hover a img{
    width: 45px;
}
.back-home a img{
    width: 40px;
    transition: all 0.2s;
}

body{
    font-family: 'Josefin', sans-serif;
    height: 100vh;
    position: relative;
    background-color: var(--bg-color);
    color: var(--main-color);
}
.background-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.container{
    max-width: 550px;
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* --------------- HEADER SECTION --------------- */
header{
    width: 100%;
    height: 150px;
    margin-top: 20%;
}
/* TITLE SECTION */
.title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
}
h1{
    color: white;
    letter-spacing: 0.4em;
    font-size: 2.5em;
    font-weight: 600;
}
.title-section img{
    width: 25px;
    height: 25px;
}
.title-section img:hover{
    cursor: pointer;
}
/* INPUT SECTION */
.input-section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--bg-items);
}
.input-section .checkbox{
    width: 22px;
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}
.checkbox:hover{
    cursor: pointer;
    border: 2px solid hsl(209, 80%, 79%);
}
.checked{ 
    background: rgb(75,150,224);
    background: linear-gradient(90deg, rgb(119, 185, 252) 0%, rgb(190, 110, 239) 99%); 
}
.input-field{
    width: 88%;
    height: 100%;
    border: none;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 10px;
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--bg-items);
}
.input-field:focus{
    outline: none;
}
.add-icon{
    margin-right: 15px;
    font-size: 1.5em;
    transition: all 0.4s;
}
.add-icon:hover{
    cursor: pointer;
    transform: rotate(180deg);
}

/* --------------- TODO LIST SECTION --------------- */
.todo-section{
    width: 100%;
    background-color: var(--bg-items);
    border-radius: 5px;
    box-shadow: 15px 20px 40px 0px rgba(0,0,0,0.1);
}
.todo-list{
    overflow: scroll;
    max-height: 400px;
}
/* if there is no task in the todo-list */
.noTaskMessageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--bg-items);
}
.noTaskMessageBox p{
    text-align: center;
    font-size: 0.85em; 
}
/* when there is tasks in the todo-list */
.todo-element{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}
.deleteTask{
    position: absolute;
    right: 5%;
    opacity: 0;
    cursor: pointer;
    transition: all  0.2s;
}
.todo-element:hover .deleteTask{
    opacity: 1;
}


/* --------------- BOTTOM SECTION --------------- */
.todo-section-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: 600;
    padding: 20px;
    color: var(--second-color);
}
.bottom-left-items{
    font-weight: 500;
}
.bottom-filter{
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.bottom-filter li{
    list-style: none;
}
.bottom-filter li:hover{
    cursor: pointer;
    color: var(--main-color);
}
.bottom-clear-completed{
    font-weight: 500;
    color: var(--second-color);
}
.bottom-clear-completed{
    cursor: pointer;
    color: var(--main-color);
}

/* Drag and drop message */
.drag-drop-message{
    position: absolute;
    bottom: 5%;
    color: var(--second-color);
}


@media only screen and (max-width: 700px) {
    .back-home{
        top: 2%;
        left: 2%;
        width: 50px;
        height: 50px;
    }
    .back-home:hover a img{
        width: 25px;
    }
    .back-home a img{
        width: 20px;
        transition: all 0.2s;
    }

    .container{
        width: 80%;
    }
    
    .input-section .checkbox{
        width: 25px;
    }
    .todo-list{
        max-height: 350px;
    }
    .todo-section-bottom{
        position: relative;
    }
    .bottom-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        position: absolute;
        left: 0px;
        top: 80px;
        height: 50px;
        width: 100%;
        border-radius: 5px;
        background-color: var(--bg-items);
    }
    .drag-drop-message{
        bottom: 5%;
    }
}