@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

body{
    position: relative;
    padding: 50px 80px;
    background-color: hsl(20, 50%, 98%);
}

.container{
    display: flex;
}

h1{
    color: hsl(14, 65%, 9%);
    margin-bottom: 20px;
}

.cards-section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 900px;
}


/* ---------------------------------------- Cards style ---------------------------------------- */
.card__picture-part{
    position: relative;
}

.card__picture{
    width: 270px;
    border-radius: 10px;
}

.card__btn{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 50px;
    bottom: -15px;
    padding: 10px 25px;
    border: 1px solid hsl(14, 65%, 9%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 1em;
    background-color: white;
}

.card__btn:hover{
    cursor: pointer;
    border: 1px solid hsl(14, 86%, 42%);
    color: hsl(14, 86%, 42%);
}

.card__description{
    margin-top: 30px;
}

.card__title{
    font-weight: 400;
    font-size: 1em;
    color: hsl(7, 20%, 60%);
}

.card__full-title{
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.2em;
    color: hsl(14, 65%, 9%);
}

.card__price{
    margin-top: 5px;
    font-weight: 700;
    color: hsl(14, 86%, 42%);
}


/* ---------------------------------------- Cart style ---------------------------------------- */
.cart-section{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px 30px;
    margin-top: -50px;
    height: fit-content;
}
.cart__title{
    font-size: 2em;
    font-weight: 700;
    color: hsl(14, 86%, 42%);
}
/* If cart is empty */
.cart__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart__empty-image{
    margin-top: 50px;
    width: 150px;
}
.cart__empty-message{
    margin: 20px 0px;
    font-weight: 500;
    color: hsl(12, 20%, 44%);
}

/* If cart is filled */
.cart__filled{
    display: none;
}
.cart__filled-row{
    position: relative;
    border-bottom: 1px solid hsl(7, 20%, 60%);
    padding: 10px 0px;
}
.cart__filled-title{
    font-weight: 500;
    color: hsl(14, 65%, 9%);
}
.cart__filled-details{
    display: flex;
    gap: 20px;
    margin-top: 5px;
}
.cart__filled-amount{
    font-weight: 600;
    color: hsl(14, 86%, 42%);
}
.cart__filled-price{
    color: hsl(7, 20%, 60%);
}
.cart__filled-total-price{
    font-weight: 500;
    color: hsl(12, 20%, 44%);
}
.cart__delete-btn{
    position: absolute;
    right: 10px;
    top: 30px;
    border: 2px solid hsl(7, 20%, 60%);
    border-radius: 50%;
    padding: 2px;
}
.cart__delete-btn:hover{
    cursor: pointer;
    border: 2px solid hsl(6, 14%, 46%);
}

.cart__filled-row-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cart__filled-row-total-price{
    font-weight: 700;
    font-size: 1.7em;
    color: hsl(14, 65%, 9%);
}

.cart__carbon-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 8px;
    background-color: hsl(20, 50%, 98%);
}
.cart__carbon-message img{
    margin-right: 6px;
}
.cart__carbon-message strong{
    font-weight: 600;
}

.cart__confirm-btn, .modal__confirm-btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: hsl(14, 86%, 42%);
    color: white;
    font-weight: 600;
}
.cart__confirm-btn:hover, .modal__confirm-btn:hover{
    cursor: pointer;
    background-color: hsl(14, 80%, 49%);
}
.cart__confirm-btn:active, .modal__confirm-btn:active{
    background-color: hsl(14, 86%, 42%);
}


/* ---------------------------------------- Cards style ---------------------------------------- */
.modal-container{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    border-radius: 15px;
    padding: 40px 30px;
    width: 500px;
}
.modal img{
    width: 40px;
}
.modal__title{
    color: hsl(14, 65%, 9%);
}
.modal__message{
    color: hsl(6, 14%, 46%);
}

.modal__order-section{
    padding: 20px;
    margin-top: 20px;
    background-color: hsl(20, 50%, 98%);
    border-radius: 5px;
}

.modal__order{
    position: relative;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid hsl(13, 31%, 94%);
}

.modal__img{
    width: 50px;
    border-radius: 5px;
}
.modal__details{
    margin-left: 15px;
}
.modal__row-title{
    font-weight: 500;
    color: hsl(14, 65%, 9%);
}
.modal__row-price{
    color: hsl(6, 14%, 46%);
    margin-top: 5px;
}
.modal__row-price span{
    font-weight: 500;
    color: hsl(14, 86%, 42%);
}
.modal__row-total-item{
    position: absolute;
    right: 0px;
    top: 10px;
    font-weight: 600;
    color: hsl(14, 65%, 9%);
}

.modal__order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__order-total-price{
    font-weight: 700;
    font-size: 1.8em;
    color: hsl(14, 65%, 9%);
}
.modal__order-total-message{
    font-size: 1em;
    color: hsl(14, 65%, 9%);
}

.modal__confirm-btn{
    /* style line 188 */
    margin-top: 20px;
}