@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* back to home link */
.back-home{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.back-home:hover a img{
    width: 44px;
}
.back-home a img{
    width: 40px;
    transition: all 0.2s;
}


body{
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    background: rgb(9,9,121);
    background: radial-gradient(circle, hsl(214, 47%, 23%) 31%, hsl(237, 49%, 15%) 97%); 
    /* background-color: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
    /* background-image: url("design/original/desktop-step-2.jpg"); */
    /* background-color: hsl(214, 47%, 23%); */
    height: 90vh;
    width: 100%;
    color: white;
}
.container{
    width: 850px;
    max-width: 85%;
    height: 90vh;
    margin: 50px auto 0px auto;

    /* position relative for the "rules" button */
    position: relative;
}


/* -------------------- HEADER SECTION -------------------- */
header{
    border: 3px solid hsl(217, 16%, 45%);
    width: 800px;
    height: 150px;
    max-width: 60%;
    margin: auto;
    padding: 0px 30px;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    padding: 0px;
}
ul li{
    list-style: none;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 0.8em;

}
.score-box{
    height: 100px;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: hsl(229, 25%, 31%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.score-box .score-number{
    font-size: 3.5em;
    font-weight: 700;
}
.score-box .score-title{
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: hsl(229, 64%, 46%);
}

/* -------------------- SELECT PAGE -------------------- */
.selection-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 500px;
    width: 500px;
    margin: 50px auto 0px auto;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 209, 209);
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: relative;
    
    margin: auto;
}
.circle::after{
    content: "";
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    z-index: 2; 
}
.circle-color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 3;
    width: 150px;
    height: 151px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
}
.circle-color.paper-color{
    border: 24px solid hsl(230, 89%, 62%);
}
.circle-color.paper-color:hover{
    border: 24px solid #2945c1;
    transition: all 0.2s;
}
.circle-color.scissors-color{
    border: 24px solid hsl(39, 89%, 49%);
    transition: all 0.2s;
}
.circle-color.scissors-color:hover{
    border: 24px solid #c76c1b;
}
.circle-color.rock-color{
    border: 24px solid hsl(349, 71%, 52%);
    transition: all 0.2s;
}
.circle-color.rock-color:hover{
    border: 24px solid #9e142f; 
}

.paper{
    grid-row: 1;
    grid-column: 1;
}
.scissors{
    grid-row: 1;
    grid-column: 2;
}
.rock{
    grid-row: 2;
    grid-column: 1/3;
}

.circle:hover{
    cursor: pointer;
}

.rules-btn{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    transition: all 0.2s;
}
.rules-btn:hover{
    cursor: pointer;
    background-color: rgb(000, 000, 000, 0.5);
}


/* -------------- OPPONENT SELECTION PAGE -------------- */
.opponent-section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 500px;
    min-width: 650px;
    width: 70%;
    margin: 50px auto 0px auto;
    position: relative;
}
h2{
    position: absolute;
    top: -100px;
    letter-spacing: 0.1em;
}
.my-picked{
    grid-column: 1;
    grid-row: 1;
}
.house-picked{
    grid-column: 2;
    grid-row: 1;
}
.opponent-section .my-picked-zone .circle{
    width: 250px;
    height: 250px;
    cursor: default;
}
.opponent-section .my-picked-zone .circle::after{
    width: 225px;
    height: 225px;
}
.opponent-section .my-picked-zone .circle-color{
    width: 205px;
    height: 205px;
}
/* background circle on step 2 (OPPONENT SELECTION PAGE) */
.my-picked-zone, .opponent-zone{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.my-picked-zone{
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}
.opponent-zone{
    margin: auto;
    grid-column: 2;
    grid-row: 1;

}


/* -------------- RESULT PAGE -------------- */
.result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 750px;
    width: 85%;
    margin-top: 150px;
}
.my-picked{
    grid-column: 1;
    grid-row: 1;
}
.result-message{
    margin: auto;
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-message h1{
    font-size: 2.5em;
    letter-spacing: 0.1em;
}
.result-message .replay-btn{
    padding: 10px 40px;
    font-size: 0.6em;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.result-message .replay-btn:hover{
    color: #9e142f;
}
.result .house-picked{
    grid-column: 3;
    grid-row: 1;
}

/* Reset score button */
.reset-score{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    background-color: #9e142f;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}
.reset-score:hover{
    background-color: #c82445;
}

/* --------------- RULES MODAL --------------- */
.rules-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(229, 25%, 31%);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules-modal-container{
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 25px 30px;
}
.rules-modal-container h1{
    margin: 0;
}
.rules-modal-img{
    margin-top: 50px;
}
.rules-modal-close{
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
}

.hide{
    display: none;
}



@media only screen and (max-width: 800px){
    .back-home{
        width: 50px;
        height: 50px;
    }
    .back-home:hover a img{
        width: 30px;
    }
    .back-home a img{
        width: 25px;
        transition: all 0.2s;
    }
    /* Header Section */
    header{
        height: 100px;
        border-radius: 10px;
    }
    ul li{
        font-size: 1.5em;
        font-weight: 700;
        line-height: 0.8em;
    }
    .score-box{
        height: 60px;
        width: 70px;
        border-radius: 5px;
    }
    .score-box .score-number{
        font-size: 2.5em;
    }
    .score-box .score-title{
        font-size: 1em;
    }
    /* Selection page */
    .selection-section{
        margin: 100px auto 0px auto;
        width: 400px;
    }
    .circle{
        width: 160px;
        height: 160px;
    }
    .circle::after{
        content: "";
        width: 138px;
        height: 138px;
    }
    .circle-color{
        width: 125px;
        height: 125px;
    }
    .circle-color.paper-color{
        border: 18px solid hsl(230, 89%, 62%);
    }
    .circle-color.paper-color:hover{
        border: 18px solid #2945c1;
    }
    .circle-color.scissors-color{
        border: 18px solid hsl(39, 89%, 49%);
        transition: all 0.2s;
    }
    .circle-color.scissors-color:hover{
        border: 18px solid #c76c1b;
    }
    .circle-color.rock-color{
        border: 18px solid hsl(349, 71%, 52%);
        transition: all 0.2s;
    }
    .circle-color.rock-color:hover{
        border: 18px solid #9e142f; 
    }

    /* Result Page */
    .result{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-width: 450px;
        width: 80%;
        margin: 100px auto 0px auto;
        position: relative;
    }
    .my-picked{
        grid-column: 1;
        grid-row: 1;
    }
    .result-message{
        width: 280px;
        grid-row: 2;
        grid-column: 1/3;
    }
    .result .house-picked{
        grid-column: 2;
        grid-row: 1;
    }
    .result-message h1{
        font-size: 2.8em;
    }
    .result-message .replay-btn{
        font-size: 0.8em;
        font-weight: 600;
        height: 50px;
    }
    .result-message .replay-btn:hover{
        color: #9e142f;
    }

    .reset-score{
        top: -30px;
    }
    
    .rules-btn-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .rules-btn{
        position: static;
        width: 150px;
        height: 40px;
    }

    /* --------------- RULES MODAL --------------- */
    .rules-modal-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 25px 30px;
    }
    .rules-modal-container h1{
        font-size: 3em;
    }
    .rules-modal-close{
        position: static;
        cursor: pointer;
    }
}