@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kumbh+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.progression-sidebar .step-component .step-number, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  width: 100%;
}

.container {
  width: 70%;
  min-width: 900px;
  height: 650px;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

/* -------------------- SIDEBAR SECTION -------------------- */
.progression-sidebar {
  width: 30%;
  min-width: 250px;
  background-image: url(/multi-step-form-main/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  padding: 40px 0px 0px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.progression-sidebar .step-component {
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.progression-sidebar .step-component .step-number {
  width: 40px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.progression-sidebar .step-component .step-number.focus {
  background-color: hsl(206, 94%, 87%);
}
.progression-sidebar .step-component .step-text {
  margin-left: 20px;
  font-size: 16px;
}
.progression-sidebar .step-component .step-text .step-text-title {
  font-size: 14px;
  font-weight: lighter;
}
.progression-sidebar .step-component .step-text .step-text-name {
  font-weight: 700;
}

/* -------------------- MODAL SECTION -------------------- */
.modal-title {
  color: hsl(213, 96%, 18%);
  font-size: 2.2em;
}

.modal-description {
  color: hsl(231, 11%, 63%);
  font-size: 1.1em;
  margin-top: 10px;
}

.btn-next {
  width: 130px;
  height: 50px;
  border: none;
  background-color: hsl(213, 96%, 18%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.btn-next:hover {
  cursor: pointer;
  background-color: hsl(213, 90%, 24%);
}

.btn-next:active {
  background-color: hsl(243, 100%, 62%);
}

.btn-back {
  width: 120px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
  font-size: 1.1em;
}

.btn-back:hover {
  cursor: pointer;
  color: hsl(213, 96%, 18%);
}

.btn-disabled {
  background-color: hsl(228, 100%, 84%);
}

.btn-disabled:hover {
  cursor: not-allowed;
  background-color: hsl(228, 100%, 84%);
}

/* -------------------- STEP ONE -------------------- */
.step-one-modal {
  width: 55%;
  margin: 60px 12% 3% 10%;
  position: relative;
}
.step-one-modal .input-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.step-one-modal .input-section label {
  margin-top: 30px;
  color: hsl(213, 96%, 18%);
}
.step-one-modal .input-section input {
  border: 1px solid hsl(231, 11%, 63%);
  height: 50px;
  width: 97%;
  border-radius: 5px;
  padding-left: 3%;
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  color: hsl(213, 96%, 18%);
}
.step-one-modal .input-section input:focus {
  outline: none;
  border: 2px solid hsl(243, 100%, 62%);
}

/* -------------------- STEP TWO -------------------- */
.step-two-modal {
  width: 55%;
  margin: 60px 12% 3% 10%;
  position: relative;
}
.step-two-modal .plan-selection-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.step-two-modal .plan-selection-section .plan-selection-card {
  width: 30%;
  border: 2px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  padding-bottom: 10px;
}
.step-two-modal .plan-selection-section .plan-selection-card img {
  margin: 20px 0px 40px 20px;
  width: 50px;
}
.step-two-modal .plan-selection-section .plan-selection-card .selection-title {
  margin-left: 20px;
  color: hsl(213, 96%, 18%);
  font-size: 1.1em;
}
.step-two-modal .plan-selection-section .plan-selection-card .selection-description {
  margin: 10px 0px 0px 20px;
  color: hsl(231, 11%, 63%);
}
.step-two-modal .plan-selection-section .plan-selection-card .freeMonths {
  margin-top: 5px;
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  font-weight: 500;
}
.step-two-modal .plan-selection-section .plan-selection-card:hover {
  cursor: pointer;
  border: 2px solid hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 99%);
}
.step-two-modal .plan-selection-section .focus {
  cursor: pointer;
  border: 2px solid hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 99%);
}
.step-two-modal .month-annual-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: hsl(231, 100%, 99%);
  height: 50px;
  border-radius: 10px;
  margin-top: 40px;
}
.step-two-modal .month-annual-selection p {
  font-weight: 500;
  color: hsl(231, 11%, 63%);
}
.step-two-modal .month-annual-selection .selected {
  color: hsl(213, 96%, 18%);
}

/* -------------------- STEP THREE -------------------- */
.step-three-modal {
  width: 55%;
  margin: 60px 12% 3% 10%;
  position: relative;
}
.step-three-modal .add-on-selection-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}
.step-three-modal .add-on-selection-section .add-on-selection-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  height: 50px;
  padding: 20px;
  position: relative;
}
.step-three-modal .add-on-selection-section .add-on-selection-card input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  accent-color: hsl(243, 100%, 62%);
}
.step-three-modal .add-on-selection-section .add-on-selection-card .selection-title {
  font-size: 1.1em;
  color: hsl(213, 96%, 18%);
}
.step-three-modal .add-on-selection-section .add-on-selection-card .selection-description {
  color: hsl(231, 11%, 63%);
}
.step-three-modal .add-on-selection-section .add-on-selection-card .add-on-price {
  position: absolute;
  right: 30px;
}
.step-three-modal .add-on-selection-section .add-on-selection-card:hover {
  cursor: pointer;
  border: 1px solid hsl(243, 100%, 62%);
}
.step-three-modal .add-on-selection-section .add-on-selection-card:hover .add-on-price {
  color: hsl(243, 100%, 62%);
}
.step-three-modal .add-on-selection-section .selected {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid hsl(243, 100%, 62%);
}
.step-three-modal .add-on-selection-section .selected .add-on-price {
  color: hsl(243, 100%, 62%);
}

/* -------------------- STEP FOUR -------------------- */
.summary-plan-name-section {
  display: flex;
}

.total-text-section {
  display: flex;
}

.step-four-modal {
  width: 55%;
  margin: 60px 12% 3% 10%;
  position: relative;
}
.step-four-modal .summary-section {
  margin-top: 50px;
  background-color: hsl(231, 100%, 99%);
  color: hsl(231, 11%, 63%);
  border-radius: 10px;
}
.step-four-modal .summary-section .summary-plan-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
  padding: 20px 0px;
  height: 50px;
  border-bottom: 1px solid hsl(231, 11%, 63%);
}
.step-four-modal .summary-section .summary-plan-section .summary-plan-name {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.step-four-modal .summary-section .summary-plan-section .summary-plan-change-link:hover {
  cursor: pointer;
  color: hsl(243, 100%, 62%);
  text-decoration: underline;
}
.step-four-modal .summary-section .summary-plan-section .summary-plan-price {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
.step-four-modal .summary-section .summary-plan-section .summary-billing {
  color: hsl(213, 96%, 18%);
  margin-left: 10px;
}
.step-four-modal .summary-section .summary-add-on-section .summary-add-on {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 10px 0px 25px 0px;
}
.step-four-modal .summary-section .summary-add-on-section .summary-add-on-price {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  font-size: 500;
}
.step-four-modal .total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  color: hsl(231, 11%, 63%);
}
.step-four-modal .total-section .total-price {
  color: hsl(243, 100%, 62%);
  font-size: 1.5em;
  font-weight: 700;
}
.step-four-modal .total-section .total-text-billing {
  margin-left: 10px;
}

/* -------------------- STEP FIVE -------------------- */
.step-five-modal {
  width: 55%;
  margin: 60px 12% 3% 10%;
  position: relative;
}
.step-five-modal .step-five-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 500px;
}
.step-five-modal .step-five-container img {
  width: 20%;
  margin-bottom: 20px;
}
.step-five-modal .step-five-container .modal-description {
  text-align: center;
  line-height: 1.4em;
}

.hidden {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
