@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(223, 19%, 93%);
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .comments-section {
  margin-top: 50px;
}

.interactive-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
  color: hsl(238, 40%, 52%);
  padding: 10px;
  border-radius: 10px;
  height: 80px;
  width: 40px;
}
.interactive-btn .icon-plus, .interactive-btn .icon-minus {
  fill: hsl(238, 40%, 52%);
  cursor: pointer;
}
.interactive-btn .interactive-btn-number {
  margin: 10px 0px;
  font-weight: 500;
}

.profile-pic {
  width: 40px;
  height: 40px;
}

/* -------------------- Comments Section -------------------- */
.comment-box {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: white;
  width: 700px;
  padding: 20px 30px;
  margin-bottom: 20px;
}
.comment-box .comment-text-section {
  margin-left: 20px;
}
.comment-box .comment-text-section .comment-text-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}
.comment-box .comment-text-section .comment-text-section-header .profile-name {
  color: hsl(212, 24%, 26%);
}
.comment-box .comment-text-section .comment-text-section-header .time-posted {
  color: hsl(211, 10%, 45%);
  font-size: 0.9em;
}
.comment-box .comment-text-section .comment-text {
  margin-top: 10px;
  width: 90%;
}
.comment-box .reply-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.comment-box .reply-btn .icon-reply {
  margin-right: 5px;
}
.comment-box .reply-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.edit-buttons {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 140px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.edit-buttons .delete-btn {
  color: hsl(358, 79%, 66%);
}
.edit-buttons .delete-btn img {
  margin-right: 5px;
}
.edit-buttons .delete-btn:hover, .edit-buttons .edit-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}
.edit-buttons .edit-btn {
  color: hsl(238, 40%, 52%);
}

/* -------------------- Replies Section -------------------- */
.replies-section {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  box-sizing: border-box;
  margin-left: 50px;
}
.replies-section .reply-box {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: white;
  width: 600px;
  padding: 30px;
  margin-bottom: 20px;
}
.replies-section .comment-text-section {
  margin-left: 20px;
}
.replies-section .comment-text-section .comment-text-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}
.replies-section .comment-text-section .comment-text-section-header .profile-name {
  color: hsl(212, 24%, 26%);
}
.replies-section .comment-text-section .comment-text-section-header .time-posted {
  color: hsl(211, 10%, 45%);
  font-size: 0.9em;
}
.replies-section .comment-text-section .comment-text {
  margin-top: 10px;
  width: 90%;
}
.replies-section .reply-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.replies-section .reply-btn .icon-reply {
  margin-right: 5px;
}
.replies-section .reply-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* --------------- Box when replying --------------- */
.replying-box {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.replying-box .area-text {
  width: 70%;
  border-radius: 10px;
  border: 2px solid rgb(207, 207, 207);
  font-size: 1.2em;
  font-weight: 500;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
}
.replying-box .area-text:focus {
  outline: none;
  border: 2px solid hsl(238, 40%, 52%);
}
.replying-box .replying-btn {
  background-color: hsl(238, 40%, 52%);
  color: white;
  width: 75px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.replying-box .replying-btn:hover {
  cursor: pointer;
  background-color: hsl(239, 57%, 85%);
}

.identification {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

/* ************************* Mobile design ************************* */
@media only screen and (max-width: 800px) {
  .interactive-btn {
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 90px;
    margin-top: 15px;
  }
  .comment-box {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
    width: 380px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 20px;
    position: relative;
    height: 250px;
  }
  .comment-box .comment-text-section {
    width: 100%;
    margin: 0px;
  }
  .comment-box .comment-text-section .comment-text-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
  }
  .comment-box .comment-text-section .comment-text {
    margin-top: 20px;
  }
  .comment-box .reply-btn {
    position: absolute;
    height: 20px;
    bottom: 15px;
    right: 25px;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
  }
  /* -------------------- Replies Section -------------------- */
  .replies-section {
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 20px;
  }
  .replies-section .reply-box {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    width: 340px;
    padding: 30px;
    margin-bottom: 20px;
    height: 250px;
  }
  .replies-section .reply-box .reply-btn {
    position: absolute;
    bottom: 20px;
  }
  .replies-section .comment-text-section {
    margin-left: 0px;
  }
  .replies-section .comment-text-section .comment-text {
    margin-top: 20px;
    width: 90%;
  }
  /* --------------- Box when replying --------------- */
  .replying-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 200px;
    width: 425px;
    margin-top: 20px;
    position: relative;
  }
  .replying-box .area-text {
    width: 100%;
  }
  .replying-box .replying-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
